/* general personal resets and styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2%;
    background-color: #5D576B;
    color: #E6EBE0;
}

#yourLocation:hover {
    color: black;
    font-weight: bold;
}

/* main part of the page */
main {
    display: flex;
    margin: 2%;
    width: 96%;
}

/* the search and search history part */
aside {
    font-size: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

#searchpart {
    width: 90%;
    display: flex;
    flex-direction: column;
    border-bottom: #5D576B solid 2px;
    color: #5D576B;
    padding-bottom: 30px;
}

#cityInput {
    font-size: 25px;
    margin-top: 5px;
    padding: 1%;
    width: 100%;
    border-radius: 5px;
}

#search {
    font-size: 25px;
    width: 100%;
    padding: 1%;
    background-color: #5D576B;
    color: #E6EBE0;
    border-color: #5D576B;
    border-radius: 5px;
}

#searchHistory {
    color: #5D576B;
    width: 90%;
    display: block;
}

#resetBtn {
    border-color: #5D576B;
    border-radius: 5px;
    margin: 2% 0;
    font-size: 25px;
    width: 100%;
    padding: 1%;
}

.pastCity {
    border-color: #5D576B;
    border-radius: 5px;
    margin: 2% 0;
    font-size: 25px;
    width: 100%;
    padding: 1%;
    background-color: #E6EBE0;
}

/* All the weather containers styling */
#allWeatherContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* current weather styling */
#today {
    height: 330px;
    border: solid 5px #5D576B;
    border-radius: 5px;
    background-image: url(../images/rainy1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

#weatherHeader {
    display: flex;
    background-color: #5D576B;
    height: 10vh;
    align-items: center;
    color: #E6EBE0;
    opacity: 90%;
    font-size: 1vw;
    width: 100%;
}

#temp0, #wind0, #humidity0 {
    font-size: 30px;
    padding: 5px;
    margin: 20px;
    color: #5D576B;
    background-color: #E6EBE0;
    opacity: 70%;
    width: 40%;
}

#currentDate {
    font-size: 2vw;
}

#day0 {
    margin: 10px;
}

/* middle title '5-Day Forecast' */
#title5Days {
    color: #5D576B;
    font-size: 150%;
}

/* 5 day forecast cards styling */
#forcast5Days {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    /* height: 300px; */
}

.day{
    background-color: #5D576B;
    width: 17%;
    height: 150%;
    padding-left: 1%;
    color: #E6EBE0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1vw;
    border-radius: 5px;
}

.date{
    opacity: 60%;
    margin-bottom: 10px;
    color: #5D576B;
    background-color: #E6EBE0;
}

.smallWidget {
    height: 10vh;
    width: 10vh;
}

@media screen and (max-width: 1023px) {
    #forcast5Days {
        flex-wrap: wrap;
    }
    .day {
        width: 45%;
        height: 50%;
        margin: 10px;
    }
    #weatherHeader{
        height: 20%;
    }
    #bigWidget {
        height: 90%;
    }
    #temp0, #wind0, #humidity0 {
        width: 90%;
        font-size: 150%;
    }
    aside {
        width: 35%;
    }
    #allWeatherContainer {
        width: 65%;
    }
    .day{
        font-size: 2vw;
    }
}

@media  screen and (max-width: 767px) {
    .day {
        width: 100%;
        font-size: 3vw;
        padding: 5px;
    }
    .day p {
        margin-top: 5px;
    }
    #weatherHeader{
        height: 20%;
        font-size: 60%;
    }
    main {
        flex-direction: column;
    }
    aside{
        width: 100%;
        flex-direction: row;
        margin-bottom: 20px;
    }
    #searchpart {
        border: 0;
        border-right: #5D576B solid 2px;
        padding: 1%;
        width: 30%;
        font-size: 50%;
    }
    #cityInput, #search {
        font-size: 150%;
    }
    #searchHistory {
        padding: 1%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #resetBtn, .pastCity {
        font-size: 50%;
        width: auto;
        margin: 2px;
        color: #5D576B;
    }
    #title5Days {
        font-size: 100%;
    }
    #allWeatherContainer {
        width: 100%;
    }
}